<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div>
		<div th:replace="~{templates :: navbar}"></div>
		<h1>Azure Dashboard</h1>
		   <div class="text">
				<p th:text="${message}">
			</div>
		<div class="card">
			<form class="link" th:action="@{/vmForm}" method="get">
				<div class="text">
					<a href="/vmForm">Azure Virtual Machine</a>
				</div>
			</form>
		</div>
		<div class="card">
			<form class="link" th:action="@{/appSvcForm}" method="get">
				<div class="text">
					<a href="/appSvcForm">App Service</a>
				</div>
			</form>
		</div>
		<div class="card">
			<form class="link" th:action="@{/mssqlForm}" method="get">
				<div class="text">
					<a href="/mssqlForm">Azure MSSQL Service</a>
				</div>
			</form>
		</div>
		</head>

</html>
<div th:replace="~{templates :: footer}"></div>
</div>
</body>
</html>