<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{templates :: navbar}" class="navbar"></div>
    <h1>Azure Dashboard</h1>
    <div class="text">
        <p th:text="${message}"></p>
    </div>
    <div class="container">
		<div class="card">
			<form th:action="@{/vmForm}" method="get">
					<div class="card-link">
					<a href="/vmForm">
						<h3>Azure Virtual Machine</h3>
						<p>Java 17</p>
						<p> Window/Linux</p>
					</a>
				</div>
			</form>
		</div>
		
		<div class="card">
			<form th:action="@{/appSvcForm}" method="get">
				<div class="card-link">
					<a href="/appSvcForm">
						<h3>App Service</h3>
						<p>Java 17</p>
						<p> Window/Linux</p>
					</a>
				</div>
			</form>
		</div>
		
		
		<div class="card">
			<form th:action="@{/fnAppForm}" method="get">
				<div class="card-link">
					<a href="/fnAppForm">
						<h3>Function App</h3>
						<p>Python</p>
						<p> Linux</p>
					</a>
				</div>
			</form>
		</div>
	
	<div class="card">
		<form th:action="@{/mssqlForm}" method="get">
			<div class="card-link">
				<a href="/mssqlForm">
					<h3>Azure MSSQL Service</h3>
					<p>App Services</p>
					<p> Window</p>
				</a>
			</div>
		</form>
	</div>
    </div>
</body>
</html>
<div th:replace="~{templates :: footer}"></div>
</div>
</body>
</html>