<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>mssql machines</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{templates :: navbar}"></div>
	<div class="main">
		<h1>MSSQL Service</h1>
	</div>
	<div>
		<div class="error" th:if="${error}">Invalid username and/or password.</div>
		<form class="main" action="#" th:action="@{/mssqlService}" th:object="${mssqlForm}" th:method="${method}">
			<p class="userform"><label for="owner">Azure RG Name: </label><input id="resourcegroupname" type="text" th:field="*{resourcegroupname}" placeholder="resourcegroupname" required autofocus /></p>
			<p class="userform"><label for="appCode">Project Code(TLA): </label><input id="appCode" type="text" th:field="*{appCode}" placeholder="appCode" required autofocus /></p>
			<p class="userform"><label for="appname">Application Name: </label><input id="appname" type="text" th:field="*{appname}" placeholder="appname" required autofocus /></p>
			<p class="userform"><label for="owner">Database Owner: </label><input id="owner" type="text" th:field="*{owner}" placeholder="owner" required autofocus /></p>
			<p class="userform"><label for="location">Geo Location: </label>
				<select id="owner" name="location" required>
					<option value="East US">East Us</option>
					<option value="West US">West Us</option>
				</select>
			</p>
			<p class="userform"><label for="password">Host Environment: </label>
				<select id="owner" name="environment" required>
					<option value="System">System</option>
					<option value="UAT">UAT</option>
					<option value="PROD">PROD</option>
				</select>
			</p>
			<p class="userform"><label for="sqlservername">Server Name: </label><input id="sqlservername" type="text" th:field="*{sqlservername}" placeholder="sqlservername" required autofocus /></p>
			<p class="userform"><label for="sqldatabasename">Database Name: </label><input id="sqldatabasename" type="text" th:field="*{sqldatabasename}" placeholder="sqldatabasename" required autofocus /></p>
			<p class="userform"><label for="sqladminlogin">Admin Login Name: </label><input id="sqladminlogin" type="text" th:field="*{sqladminlogin}" placeholder="sqladminlogin" required autofocus /></p>
			<p class="userform"><label for="sqladminpassword">Admin Password: </label><input id="sqladminpassword" type="text" th:field="*{sqladminpassword}" placeholder="sqladminpassword" required autofocus /></p>
			<p class="userform"><label for="enabled">TF Stash Enabled: </label><input id="enabled" type="checkbox" th:field="*{enabled}" /></p>
        	<p class="userform">
        		<input type="submit" value="Submit" /> 
        		<input type="reset" value="Reset" />
        	</p>
    	</form>
    </div>
	<div th:replace="~{templates :: footer}"></div>
</body>
</html>