<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Virtual machines</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="~{templates :: navbar}"></div>
	<div class="main">
		<h1>Virtual machines</h1>
	</div>
	<div>
		<div class="error" th:if="${error}">Invalid username and/or password.</div>
		<form class="main" action="#" th:action="@{/azVmService}" th:object="${vmForm}" th:method="${method}">
			<p class="userform"><label for="gheRepoName">GitHub Repository: </label><input id="gheRepoName" type="text" th:field="*{gheRepoName}" placeholder="GitHub Repository Url" required autofocus /></p>
			<p class="userform"><label for="appCode">Application Code: </label><input id="appCode" type="text"
					th:field="*{appCode}" placeholder="Project Code" required autofocus /></p>
			<p class="userform"><label for="appname">Application Name: </label><input id="appname" type="text"
					th:field="*{appname}" placeholder="Application Name" required autofocus /></p>
			<p class="userform"><label for="owner">Application Owner: </label><input id="owner" type="text"
					th:field="*{owner}" placeholder="Application Owner" required autofocus /></p>
			<p class="userform"><label for="osType">Operating System: </label>
				<select id="osType" name="osType" required>
					<option value="" selected>Please Select</option>
					<option value="Windows">Windows</option>
					<option value="Linux">Linux</option>
				</select>
			</p>
			<p class="userform"><label for="noOfAppCount">Nuber of Machine: </label><input id="noOfAppCount" type="number"
					th:field="*{noOfAppCount}" placeholder="Nuber of Virtual machine" required autofocus /></p>
			<p class="userform"><label for="location">Geo Location: </label>
				<select id="owner" name="location" required>
					<option value="" selected>Please Select</option>
					<option value="East US">East Us</option>
					<option value="West US">West Us</option>
				</select>
			</p>
			<p class="userform"><label for="password">Host Environment: </label>
				<select id="owner" name="environment" required>
					<option value="" selected>Please Select</option>
					<option value="System">System</option>
					<option value="UAT">UAT</option>
					<option value="PROD">PROD</option>
				</select>
			</p>
			<p class="userform"><label for="enabled">Stash Enabled: </label><input id="enabled" type="checkbox" th:field="*{enabled}" /></p>
			<p class="userform">
				<input type="submit" value="Submit" />
				<input type="reset" value="Reset" />
			</p>
		</form>
	</div>
	<div th:replace="~{templates :: footer}"></div>
</body>

</html>